/* App.css */

body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 13px;
    margin-left: -10.5px;
  }
  
  button {
    background-color: #7984C0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin-left: 8rem;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  h5{
    margin-left: 130rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -6px;
    color: #9095A9;
  }
  img{
    margin-left: 175rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
